---
# css
---


// Variables

$primary-colour: red;
$secondary-colour: blue;

$dark-blue: #5f6f88;
$light-blue: #7496bc;

$white: #ffffff;
$egg-shell: #eeebeb;
$sand: #d9cdb3;
$ash: #434242;
$red: #cf443a;

//Imports
@import "base-styles";
@import "css-wizardry-grid";


h1{
	color: $primary-colour;
}