---
# css
---


// Variables

$primary-colour: red;
$secondary-colour: blue;

$dark-blue: #0C1B24;
$blue: #1A313F;
$light-blue: #7496bc;

$white: #ffffff;
$egg-shell: #eeebeb;
$sand: #d9cdb3;
$ash-light: #DFDFDF;
$ash: #434242;
$red: #cf443a;

$charcoal: #21272A;
$charcoal-dark: #141617;

//Imports
@import "base-styles";
@import "paralax";
@import "css-wizardry-grid";
@import "fonts";
@import "magnific-popup";
