---
# css
---


// Variables

$primary-colour: red;
$secondary-colour: blue;

$dark-blue: #1A313F;
$blue: #43516A;
$light-blue: #7496bc;

$white: #ffffff;
$egg-shell: #eeebeb;
$sand: #d9cdb3;
$ash-light: #777777;
$ash: #434242;
$red: #cf443a;

//Imports
@import "base-styles";
@import "paralax";
@import "css-wizardry-grid";


h1 {
	color: $primary-colour;
}
