
					<footer class="block-wrapper block-wrapper--lrg">
						<div class="grid grid-full">
							<div class="grid__item four-fifths palm--one-whole lap--four-fifths desk--four-fifths">
								<ul class="social-nav">
									<li class="social-nav-item">
										<a class="social-icon" alt="facebook" href="https://www.facebook.com/andyhans3n" target="_blank">
											<span class="icon icon-facebook"></span>
										</a>
									</li>
									<li class="social-nav-item">
										<a class="social-icon" alt="instagram" href="https://instagram.com/andyhans3n/" target="_blank">
											<span class="icon icon-instagram"></span>
										</a>
									</li>
									<li class="social-nav-item">
										<a class="social-icon" alt="dribbble" href="https://dribbble.com/ahansen" target="_blank">
											<span class="icon icon-dribbble"></span>
										</a>
									</li>
									<li class="social-nav-item">
										<a class="social-icon" alt="linkedin" href="www.linkedin.com/in/andy-hansen" target="_blank">
											<span class="icon icon-linkedin"></span>
										</a>
									</li>						
								</ul>
							</div><!--
							--><div class="grid__item one-fifth palm--one-whole lap--one-fifth desk--one-fifth">
								<p class="footer-copy">&copy; Andy Hansen 2016</p>
							</div>
						</div>
					</footer>
				</div>	
			</div>
		</div>

		<!-- Menu toggle -->
		<script src="/js/toggle.js"></script>
		
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		
		<!-- Smooth scrolling, taken from https://css-tricks.com/snippets/jquery/smooth-scrolling/ -->
		<script>
			$(function() {
				$('a[href*=#]:not([href=#])').click(function() {
    					if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      						var target = $(this.hash);
      						target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      						if (target.length) {
        						$('html,body').animate({
        							scrollTop: target.offset().top
        						}, 1000);
        						return false;
      						}
    					}
  				});
			});
		</script>
	</body>
</html>
