<!DOCTYPE html>
<html>
	<head>
		<title>Andy Hansen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/fonts.css">
		<link rel="icon" type="image/png" href="/img/favicon.ico">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	</head>
	<body>
		<div class="site-wrapper">
			<div class="nav-wrapper">
				<nav class="">
					<div class="menu-wrapper">
											<a href="/index.html" class="logo-wrapper">
						<img class="logo" src="/img/logo-light.png">
					</a>
					<div class="menu-toggle-wrapper">
						<a class="i-main-menu--toggle js-dropdown-toggle" href="#">Menu</a>
					</div>
					</div>

					
					<ul class="nav-main center">
						<li class="nav-item-wrapper">
							<a class="nav-item"  href="/index.html">Home</a>
						</li>
						<li class="nav-item-wrapper">
							<a class="nav-item"  href="/illustration">Illustration</a>
						</li>
						<li class="nav-item-wrapper">
							<a class="nav-item"  href="/graphics">Graphics</a>
						</li>
						<li class="nav-item-wrapper">
							<a class="nav-item"  href="/web-design">Web Design</a>
						</li>
				<!-- 		<li class="nav-item-wrapper">
							<a class="nav-item"  href="/blog.html">Blog</a>
						</li> -->
						<li class="nav-item-wrapper">
							<a class="nav-item"  href="mailto:ahans3n@gmail.com">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="site-content-wrapper">