<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/_assets/style.css">
		<link rel="stylesheet" href="/css/fonts.css">
	</head>
	<body>
		<div class="grid">
			<div class="nav-wrapper grid_item one-quarter palm--one-whole lap--one-quarter desk--one-fifth">
				<nav class="">
					<a href="#" class="menu-toggle"  id="menu-toggle"><span class="i i-menu"></span></a>
					<a href="/index.html"><img class="logo" src="/img/logo-150.png"></a>
					<ul class="nav-main">
						<li>
							<a class="nav-item"  href="/about.html">About</a>
						</li>
						<li>
							<a class="nav-item"  href="/illustration.html">Illustration</a>
						</li>
						<li>
							<a class="nav-item"  href="/graphics.html">Graphics</a>
						</li>
						<li>
							<a class="nav-item"  href="/web-design.html">Web Design</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="content-wrapper grid_item three-quarters palm--one-whole lap--three-quarters desk--four-fifths">
				
