
// CSS only paralax
// See http://keithclark.co.uk/articles/pure-css-parallax-websites/

.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.parallax__layer--menu {
	transform: translateZ(-2px) scale(3);
	> span {
		position: absolute;
		width: 100%;
		top: 30%;
		left: 0;
	}
}


// Function to work out the scale required when using translateZ
// See http://keithclark.co.uk/articles/pure-css-parallax-websites/
@function paralax($translateZ, $perspective: 1) {
	$scale: 1 + ($translateZ * -1) / $perspective;
	$scale: $scale / 1px;
	@return translateZ($translateZ) scale($scale);
}


.parallax__layer--1 {
	transform: paralax(0px);
	> img {
		position: absolute;
		top: 20%;
		left: 0;
	}
}

.parallax__layer--2 {
	transform: paralax(-1px);
	> img {
		position: absolute;
		top: 50%;
		left: 0;
	}
}

.parallax__layer--3 {
	transform: paralax(-2px);
	> img {
		position: absolute;
		top: 70%;
		left: 0;
	}
}

.parallax__layer--4 {
	transform: paralax(-3px);
	> img {
		position: absolute;
		top: 90%;
		left: 0;
	}
}
