

body,
body * {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-image: url("/img/natural-paper.png");
    color: $ash;
    font-size: 18px;
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
}

// links

.body-link{
	text-decoration: none;
	color: $red;

	&:hover{
		border-bottom: solid 3px;
		-webkit-transition: all .3s ease-in-out;
	    -moz-transition: all .3s ease-in-out;
	    -o-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	}
	&:active {
		position:relative;
		top:1px;
	}
}

img {
    max-width: 100%;
    height: auto;
}

nav {

	ul {
		margin: 0;
		padding: 0;

		li {
			display: block;
			list-style-type: none;
		}
	}

	a {
		text-decoration: none;
		display: block;

		&:hover {
			text-decoration: none;
		}
	}
}

// utility

.center{
	text-align: center;
}

.border-bot{
	border-bottom: solid 3px $egg-shell;
	padding-bottom: 25px;
}

// utility end

// heading
h1{
	margin: 0;
	font-size: 50px;
}

h2{
	font-size: 35px;
}

h1,
h2,
h3,{
	font-family: COMMUNIS;
}


.heading{
	text-align: center;
    margin: 35px 0 35px 0;
    position: relative;

	&--border:after {
	    content: "";
	    display: block;
	    height: 3px;
	    position: absolute;
	    bottom: -15px;
	    left: 50%;
	    margin-left: -30px;
	    width: 60px;
	    background-color: $red;
	}
}


.site-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}


// Nav
.nav-wrapper{
	background-color: rgba(255, 255, 255, 0.8);
	border-right: solid 3px $egg-shell;

	.nav-item{
		color:$ash-light;
		padding: 10px 25px;
		text-transform: uppercase;
		font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
		letter-spacing: 1px;
    	font-size: 16px;
    	position: relative;
	}
	.nav-item:before{
		    content: "";
    display: block;
    height: 3px;
    position: absolute;
        top: 17px;
    left: 15%;
    width: 15px;
    background-color: #cf443a;
    opacity: 0;
	}
	.nav-item:after{
		    content: "";
    display: block;
    height: 3px;
    position: absolute;
        top: 17px;
   right: 15%;
    width: 15px;
    background-color: #cf443a;
    opacity: 0;
	}

	.nav-item:hover:before{
	    left: 20%;
	    width: 15px;
	    opacity: 1;
	    -webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
	.nav-item:hover:after{
    	right: 20%;
    	width: 15px;
    	opacity: 1;
    	-webkit-transition: all .5s ease-in-out;
	    -moz-transition: all .5s ease-in-out;
	    -o-transition: all .5s ease-in-out;
	    transition: all .5s ease-in-out;
	}

	.nav-item:hover{
		color: $ash;
	}
}


.site-content-wrapper {
    position: relative;
    overflow: visible;
    height: auto;
    width: 100%;
}

.logo {
    margin: auto;
    display: block;
    padding: 25px;
}

.logo:hover{
	opacity: 0.8;
}

// Hero

.hero-wrapper h1 {
	text-align: center;
    margin-bottom: 35px;
    position: relative;
    color: $ash;

	&:after {
	    content: "";
	    display: block;
	    height: 3px;
	    position: absolute;
	    bottom: -15px;
	    left: 50%;
	    margin-left: -30px;
	    width: 60px;
	    background-color: $red;
	}
}

.hero--banner-1 {
	display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    display: block;
    background-attachment: fixed;
    background-image: url(https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/22/222/222725/l18vozsaskckgl7szuq89fiyxgqzncva1ct2oa0otowrfspqr14o9u0px0b8hpmn-o.jpg?1414624326);
    background-size: cover;
    background-position: top;

    h1{
		color: $white;
    }
}

.hero--banner-ice-age{
	display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    display: block;
    background-image: url(/img/ice-age-banner.jpg);
    background-size: cover;
    background-position: top;
    h1{
		color: $white;
    }
}

// Nav Hero

.nav-hero{
	display: block;
	padding: 0 0 100px;

	.nav-item-wrapper{
		display: inline-block;
		position: relative
	}

	.nav-item{
		padding: 20px;
		font-size: 25px;
		color: $white;
		text-decoration: none;
		font-family: COMMUNIS;
		opacity: 0.8;

	}
	.nav-item:hover{
		opacity: 1;
		-webkit-transition: all .5s ease-in-out;
	    -moz-transition: all .5s ease-in-out;
	    -o-transition: all .5s ease-in-out;
	    transition: all .5s ease-in-out;
	}
	.nav-item:after{
		content: "";
	    height: 3px;
	    position: absolute;
	    bottom: -15px;
	    left: 50%;
	    margin-left: -15px;
	    width: 30px;
	    background-color: $red;
	    opacity: 0;
	}
	.nav-item:hover:after{
	    width: 60px;
	    margin-left: -30px;
	    background-color: $white;
	    opacity: 0.5;
	    -webkit-transition: all .5s ease-in-out;
	    -moz-transition: all .5s ease-in-out;
	    -o-transition: all .5s ease-in-out;
	    transition: all .5s ease-in-out;
	}
}

// Body
.content-wrapper{
	background-color: $white;
    min-height: 100%;
    position: relative;
}

.content-block{
	padding: 25px;
}

// Buttons
.button {
	background-color: $white;
	border: 3px solid $dark-blue;
	display:inline-block;
	cursor:pointer;
	color: $dark-blue;
	font-size:20px;
	padding:10px 20px;
	text-decoration:none;
	letter-spacing: 1px;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.button:hover {
	background-color: $dark-blue;
	color: $white;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.button:active {
	position:relative;
	top:1px;
}


.example-wrapper{
	margin-bottom: 25px;
}


// example-items

.example-item{
	display: block;
	position: relative;

	&:hover img{
		opacity: 0.8;
	}
}

.img-heading{
	position: absolute;
    width: 100%;
    bottom: 3px;
    font-family: COMMUNIS;
    margin: 0;
    display: block;
    color: $dark-blue;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0;
}

.example-item:hover .img-heading{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    border-top: solid 3px $red;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

// Footer

footer{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0 25px;
	border-top: solid 3px $egg-shell;
}

.footer-wrapper{
    min-height: 100%;
    position: relative;
}

.social-nav{
	list-style-type: none;
	display: block;
	padding-left: 0;
	margin-top: 15px;
}

.social-nav-item{
	display: inline-block;
}

.social-icon{
	text-decoration: none;
	font-size: 25px;
	color: $ash-light;
	padding: 10px;
}

.social-icon:hover{
	color: $dark-blue;
	border-top: solid 3px $red;
    padding-top: 15px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.footer-copy{
	text-align: center;
	font-size: 14px;
	margin: 20px 50px 20px 0;
	color:$ash-light;
}

// parallax

@media (max-width: 719px) {
	.logo {
    height: 70px;
	}

	.nav-main .nav-item{
		padding: 25px;
		border-top: solid 3px $egg-shell;
	}

	.nav-item-wrapper {
    	display: inline-block;
    	width: 49%;
	}
	.hero-wrapper h1{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.hero-wrapper h1:after{
		bottom: 35px
	}

	.nav-hero{
		display: none;
	}
}

@media (min-width: 720px) {
	.nav-wrapper{
		position: fixed;
	    left: 0px;
	    width: 20%;
	    height: 100%;
	    overflow: auto;
	    z-index: 20;
	    min-height: 600px;
	}
	.site-content-wrapper {
	    overflow: auto;
	    width: 80%;
	    height: 100%;
	    margin-left: 20%;
	    margin-bottom: 50px;
	}
	footer{
	    position: fixed;
	    bottom: 0;
	    width: 80%;
	    height: 50px;
	}
	.footer-copy{
		text-align: right;
	}
}
