

body,
body * {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-image: url("/img/natural-paper.png");
    color: $ash;
    font-size: 18px;
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
}

// links

.body-link{
	text-decoration: none;
	color: $red;

	&:hover{
		border-bottom: solid 3px;
		-webkit-transition: all .3s ease-in-out;
	    -moz-transition: all .3s ease-in-out;
	    -o-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	}
	&:active {
		position:relative;
		top:1px;
	}
}

img {
    max-width: 100%;
    height: auto;
}

nav {

	ul {
		margin: 0;
		padding: 0;

		li {
			display: block;
			list-style-type: none;
		}
	}

	a {
		text-decoration: none;
		display: block;

		&:hover {
			text-decoration: none;
		}
	}
}

// content width

.block-wrapper{
	margin: auto;

	&--lrg{
		max-width: 1440px;
	}
}


// utility

.center{
	text-align: center;
}

.border-bot{
	border-bottom: solid 3px $egg-shell;
	padding-bottom: 25px;
}

.border-top{
	border-top: solid 3px $egg-shell;
	padding-top: 25px;
}

.padding-tb-lrg{
	padding:150px 0;
}

// utility end

// heading
h1{
	margin: 0;
	font-size: 50px;
}

h2{
	font-size: 35px;
}

h1,
h2,
h3,{
	font-family: COMMUNIS;
}

.white-font{
	color:$white;
}

.heading{
	text-align: center;
    margin: 35px 0 35px 0;
    position: relative;

	&--border:after {
	    content: "";
	    display: block;
	    height: 3px;
	    position: absolute;
	    bottom: -15px;
	    left: 50%;
	    margin-left: -30px;
	    width: 60px;
	    background-color: $red;
	}
}

.light {
	color:$white;
}


.site-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}


// Nav
.nav-wrapper{
	background-color: rgba(20, 24, 28, 0.9);

	.nav-item{
		color:$ash-light;
		padding: 10px 25px;
		text-transform: uppercase;
		font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
		letter-spacing: 1px;
    	font-size: 16px;
    	position: relative;
	}
	.nav-item:before{
		content: "";
    	display: block;
    	height: 3px;
    	position: absolute;
        bottom: 0;
    	left: 15%;
    	width: 15px;
    	background-color: #cf443a;
    	opacity: 0;
	}


	.nav-item:hover:before{
	    left: 0;
	    width: 100%;
	    opacity: 1;
	    -webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}

	.nav-item:hover{
		color: $white;
	}
}


.site-content-wrapper {
    position: relative;
    overflow: visible;
    height: auto;
    width: 100%;
}

.logo-wrapper {
    padding: 10px 20px;
}

.logo {
    margin: 5px;
    display: inline-block;
    height: 60px;
}

.logo:hover{
	opacity: 0.8;
}

// Hero

.hero-wrapper h1 {
	text-align: center;
    margin-bottom: 35px;
    position: relative;

	&:after {
	    content: "";
	    display: block;
	    height: 3px;
	    position: absolute;
	    bottom: -15px;
	    left: 50%;
	    margin-left: -30px;
	    width: 60px;
	    background-color: $red;
	}
}

.hero--banner-1 {
	display: block;
    width: 100%;
    background-color: $dark-blue;

    h1{
		color: $white;
    }
}

.hero--banner-ice-age{
	display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    display: block;
    background-image: url(/img/ice-age-banner.jpg);
    background-size: cover;
    background-position: top;
    h1{
		color: $white;
    }
}


// Body
.content-wrapper{
	background-color: $white;
    min-height: 100%;
    position: relative;
}

.content-block{
	padding: 25px;
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-image: url("/img/natural-paper.png");
	background-color:$white;
    
    &--constraint{
		max-width: 1280px;
    	margin: auto;
    }
}

// Buttons
.button {
	background-color: $white;
	border: 3px solid $dark-blue;
	display:inline-block;
	cursor:pointer;
	color: $dark-blue;
	font-size:20px;
	padding:10px 20px;
	text-decoration:none;
	letter-spacing: 1px;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.button:hover {
	background-color: $dark-blue;
	color: $white;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.button:active {
	position:relative;
	top:1px;
}


.example-wrapper{
	margin-bottom: 25px;
}


// example-items

.example-item{
	display: block;
	position: relative;

	& img {
		border: solid 3px $charcoal;
	}

	&:hover img{
		opacity: 0.8;
	}
}

.port-wrapper{
	margin-bottom: 25px;
	border: solid 3px $ash-light;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	
	&:hover{
		border-color: $blue;
		-webkit-transition: all .5s ease-in-out;
    	-moz-transition: all .5s ease-in-out;
    	-o-transition: all .5s ease-in-out;
    	transition: all .5s ease-in-out;
	}
	&:hover .port-heading{
    	border-color: $blue;
		-webkit-transition: all .5s ease-in-out;
    	-moz-transition: all .5s ease-in-out;
    	-o-transition: all .5s ease-in-out;
    	transition: all .5s ease-in-out;
	}
}


// example-items

.port-item{
	display: block;
	position: relative;

	& img{
		opacity: 0.8;
		-webkit-transition: all .5s ease-in-out;
    	-moz-transition: all .5s ease-in-out;
    	-o-transition: all .5s ease-in-out;
    	transition: all .5s ease-in-out;
	}

	&:hover img{
		opacity: 1;
		-webkit-transition: all .5s ease-in-out;
    	-moz-transition: all .5s ease-in-out;
    	-o-transition: all .5s ease-in-out;
    	transition: all .5s ease-in-out;
	}
}


.port-heading {
    border-top: solid $ash-light;
    width: 100%;
    display: block;
    padding: 25px;
    color: $ash;

}


.img-heading{
	position: absolute;
    width: 100%;
    height: 100%;
    bottom: 3px;
    font-family: COMMUNIS;
    font-size: 25px;
    margin: 0;
    display: block;
    color: $dark-blue;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0;
}

.example-item:hover .img-heading{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30% 0;

}

// Footer

footer{

	padding: 0 25px;
	border-top: solid 3px $ash-light;
}

.footer-wrapper{
    min-height: 100%;
    position: relative;
}

.social-nav{
	list-style-type: none;
	display: block;
	padding-left: 0;
	margin-top: 15px;
}

.social-nav-item{
	display: inline-block;
}

.social-icon{
	text-decoration: none;
	font-size: 25px;
	color: $charcoal;
	padding: 10px;
}

.social-icon:hover{
	color: $red;
	border-top: solid 3px $red;
    padding-top: 15px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.footer-copy{
	text-align: center;
	font-size: 14px;
	margin: 20px 50px 20px 0;
	color:$ash-light;
}



@media (max-width: 719px) {

.nav-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
}

	.menu-wrapper {
	    display: block;
	    height: 100px;
	    position: absolute;
	    width: 100%;
	    z-index: 200;
	    background-color: $charcoal;
    background-image: url("/img/spec.png");
    background-repeat: repeat;
	}


	.menu-toggle-wrapper,
	.logo-wrapper{
		width: 50%;
		float: left;

	}

	.logo {
    display: block;
    margin: 15px;
    padding: 0;
    height: 70px;
	}

	.i-main-menu--toggle.js-dropdown-toggle {
	    color: $white;
	    padding: 40px 15px;
	    text-align: right;
	}	

	.nav-main {
		padding-top: 100px;
	    position: absolute;
    	width: 100%;
    	z-index: 100;
    	top: -500px;
    	-webkit-transition: all .8s ease-in-out;
	    -moz-transition: all .8s ease-in-out;
	    -o-transition: all .8s ease-in-out;
	    transition: all .8s ease-in-out;
	}
	
	.nav-toggle-active .nav-main {
    	top: 0;
    	border-bottom: solid 3px $charcoal;
    	-webkit-transition: all .8s ease-in-out;
	    -moz-transition: all .8s ease-in-out;
	    -o-transition: all .8s ease-in-out;
	    transition: all .8s ease-in-out;
	}


	.nav-main .nav-item{
		padding: 35px 20px;
	}

	.nav-item-wrapper {
    	display: block;
    	width: 100%;
    	background-color:$charcoal-dark;
	}
	.hero-wrapper h1{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.hero-wrapper h1:after{
		bottom: 35px
	}

	.nav-hero{
		display: none;
	}
}

@media (min-width: 720px) {

	// -------------------------

	.wave-1 {
	  animation: Rotate 7s infinite;
	  transform: Rotate (0deg);
	  animation-direction: alternate;
	}

	.wave-2{
		animation: updown 3s infinite;
	  	animation-direction: alternate;	
	}

	@keyframes Rotate {
	  0% {
	    transform: Rotate(2deg);
	  }
	  100% {
	    transform: Rotate(-2deg);
	  }
	}

	// up down

	@keyframes updown {
	  0% {
	    margin-top: -3px;
	    transform: Rotate(1deg);
	  }
	  100% {
	    margin-top: 3px;
	    transform: Rotate(-1deg);
	  }
	}

	// -----------------------

	.heading--lrg{
		margin: 120px 0 50px;
	}

	.nav-wrapper{
		position: fixed;
	    width: 100%;
	    top: 0;
	    z-index: 20;
	    position: fixed;
    	z-index: 20;

	}

	.nav-wrapper .nav-item {

    padding: 35px 20px;

}

	.menu-wrapper {
    	display: inline-block;
    	    height: 80px;
	}
	.nav-main.center {
    	display: inline-block;
    	float: right;
	}
	nav ul li {
	    display: inline-block;
	}
	.menu-toggle-wrapper {
    	display: none;
	}
	.site-wrapper {

	    
	}
	.site-content-wrapper {
	    width: 100%;
	    height: 100%;
	}

	footer{
	    // position: fixed;
	    // bottom: 0;
	    width: 100%;
	}
	.footer-copy{
		text-align: right;
	}
}
