{% include header.html %}

{% if page.heroTitle %}
<div class="center hero-wrapper {% if page.heroHelper %} hero--{{ page.heroHelper }} {% endif %}">
	<h1>{{ page.heroTitle }}</h1>
	{% if page.subheronav %}
	<ul class="nav-hero center">
		<li class="nav-item-wrapper">
			<a class="nav-item anchorLink"  href="#myAnchor1" rel="" id="anchor1">Illustration</a>
		</li>
		<li class="nav-item-wrapper">
			<a class="nav-item anchorLink"  href="#myAnchor2" rel="" id="anchor2">Graphic Design</a>
		</li>
		<li class="nav-item-wrapper">
			<a class="nav-item anchorLink"  href="#myAnchor3" rel="" id="anchor3">Web Design</a>
		</li>
	</ul>
	{% endif %}
</div>
{% endif %}

{{ page.content }}

{% include footer.html %}
